<!DOCTYPE html>
<html>
<head>
  <title>Bartender</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">

<div class="container">
    <%= render partial: 'shared/navbar' %>

  <%= render partial: 'shared/flashes' %>

  <%= yield %>

  <footer class="row">
    <ul class="footer-links">
      <li>&copy; Jason Morrison 2013.  All Rights Reserved.</li>
    </ul>
    </div>
  </footer>
</div>

<%= javascript_include_tag "application" %>
<%= yield :javascript %>

</body>
</html>
